/* Reset de margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: black;
    /* Cor de fundo preta */
    color: white;
    /* Cor do texto branca */
    text-align: center;
    /* Alinhar o texto ao centro */
    padding: 10px 0;
    /* Espaçamento interno superior e inferior de 10px, sem espaçamento horizontal */
}

h1 {
    font-size: 36px;
    /* Tamanho da fonte de 36 pixels */
}

/* Estilo da seção de filmes */
.row {
    margin: 30px;
    /*  Espaçamento interno superior e inferior de 30px, sem espaçamento horizontal.*/
    max-width: 1200px;
    /*  1200px = largura da tela - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra*/
    padding: 0 20px;
    /* Espaçamento interno esquerdo e direito de 10px, sem espaçamento horizontal */
}

h2 {
    font-size: 24px;
    /*  Tamanho da fonte de 24 pixels*/
    margin-bottom: 10px;
    /* Espaçamento interno superior e inferior de 10px, sem espaçamento horizontal.*/
}

/* Estilo dos posteres de filmes */
.row-posters {
    display: flex;/* Usar flexbox para alinhar os pôsteres horizontalmente */
    overflow-x: scroll;/* Adicionar rolagem horizontal caso haja muitos pôsteres */
    gap: 20px; /* Espaçamento entre os pôsteres de 20px */
}

.row-poster {
    max-height: 200px;/* Altura máxima dos pôsteres de 200px */
    object-fit: cover; /* Redimensionar e cortar os pôsteres para preencher o espaço */
    border-radius: 8px; /* Bordas arredondadas de 8px */
    transition: transform 0.3s ease; /* Adicionar uma transição suave de transformação */
    
}

.row-poster:hover {
    transform: scale(1.08); /* Ampliar em 8% quando o mouse passa sobre um pôster */
}

/* Estilo específico para os pôsteres grandes */
.row-posterLarge{
    width: 200px; /* Largura dos pôsteres grandes */
    height: 300px; /* Altura dos pôsteres grandes */
}

/* Estilo específico para os pôsteres pequenos */
.row-posterSmall {
    width: 400px; /* Largura dos pôsteres pequenos */
    height: 225px; /* Altura dos pôsteres pequenos */
}