/* Reset de margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: aliceblue;
}

/* Estilo do cabeçalho */
header {
    background-color: black;
    /* Cor de fundo preta */
    color: white;
    /* Cor do texto branca */
    text-align: center;
    /* Alinhar o texto ao centro */
    padding: 10px 0;
    /* Espaçamento interno superior e inferior de 10px, sem espaçamento horizontal */
}

h1 {
    font-size: 36px;
    /* Tamanho da fonte de 36 pixels */
    text-align: left;
    color: red;
}
/* Estilo do logotipo da Netflix */
.netflix-logo {
    width: 150px; /* Largura do logotipo */
}

/* Estilo do banner principal */
.banner {
    background-image: url('./imagens/banner.jpg'); /* Imagem de fundo do banner */
    background-size: cover; /* Cobrir todo o elemento com a imagem */
    background-position: center center; /* Centralizar a imagem horizontal e verticalmente */
    color: white; /* Cor do texto no banner */
    object-fit: contain; /* A imagem é dimensionada para caber no contêiner */
    height: 448px; /* Altura do banner */
}

/* Estilo do conteúdo dentro do banner */
.banner-contents {
    margin-left: 0; /* Remova a margem à esquerda */
    padding-left: 30px; /* Adicione o espaçamento à esquerda para posicionar o conteúdo */
    padding-top: 190px; /* Espaçamento superior para posicionar o conteúdo */
    height: 190px; /* Altura do conteúdo dentro do banner */
    text-align: left;
}

/* Estilo do título no banner */
.banner-title {
    font-size: 3rem; /* Tamanho da fonte do título */
    font-weight: 800; /* Peso da fonte (negrito) */
    padding-bottom: 0.3rem; /* Espaçamento inferior do título */
}

/* Estilo da seção de filmes */
.row {
    color: white;
    margin: 30px;
    /*  Espaçamento interno superior e inferior de 30px, sem espaçamento horizontal.*/
       padding: 0 20px;
    /* Espaçamento interno esquerdo e direito de 10px, sem espaçamento horizontal */
}

h2 {
    font-size: 24px;
    /*  Tamanho da fonte de 24 pixels*/
    margin-bottom: 10px;
    /* Espaçamento interno superior e inferior de 10px, sem espaçamento horizontal.*/
}

/* Estilo dos posteres de filmes */
.row-posters {
    
    display: flex;
    /* Usar flexbox para alinhar os pôsteres horizontalmente */
    overflow-x: scroll;
    /* Adicionar rolagem horizontal caso haja muitos pôsteres */
    overflow-y: hidden;
    /* Adicionar rolagem vertical caso haja muitos pôsteres */
    padding: 20px;
    /* Espaçamento interno esquerdo e direito de 20px, sem espaçamento horizontal */
    gap: 20px;
    /* Espaçamento entre os pôsteres de 20px */
}

.row-poster {
    width: 100%;
    /* 100% = largura da tela - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da barra de rolagem - largura da b*/
    max-height: 200px;
    /* Altura máxima dos pôsteres de 200px */
    object-fit: contain;
    /* Redimensionar e cortar os pôsteres para preencher o espaço */

    /* Espaçamento interno esquerdo e direito de 10px, sem espaçamento horizontal */
    border-radius: 8px;
    /* Bordas arredondadas de 8px */
    transition: transform 450ms;
    /* Adicionar uma transição suave de transformação */
}

.row-poster:hover {
    transform: scale(1.08);
    /* Ampliar em 8% quando o mouse passa sobre um pôster */
}

.row-posters::-webkit-scrollbar{
    display: none;
    /* Esconder a barra de rolagem */
}


/* Estilo específico para os pôsteres grandes */
.row-posterLarge {
    width: 200px;
    /* Largura dos pôsteres grandes */
    height: 300px;
    /* Altura dos pôsteres grandes */
}

/* Estilo específico para os pôsteres pequenos */
.row-posterSmall {
    width: 200px;
    /* Largura dos pôsteres pequenos */
    height: 125px;
    /* Altura dos pôsteres pequenos */
}